element.style {
}

body {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	background: linear-gradient(to right, #e5e6ea, #e2e3e7);
}

nav {
	text-align: center;
	margin-top: 0px;
	border-radius: 5px;
	border: 2px solid black;
	margin-bottom: 40px;
}

nav ul {
	margin-top: 0px;
}

nav li {
	display: inline-block;
	list-style-type: none;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
}

h3 {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
}

.intro {
	border: 2px solid red;
	min-height: 100%;
	min-width: 100%;
	background-image: url("Images/iphone.jpg");
	margin-bottom: 40px;
}

.whyus {
	border: 2px solid green;
	height: 200px;
}

.whyus h1 {
	float: left;
	display: inline;
	color: #21699b
}

.whyus h2 {
	float: left;
	margin-right: 5px;
	display: inline;
}

.whyus p {
	clear: both;
	text-align: justify;
	margin-left: 15px;
	margin-bottom: 15px;

}

.whyus a {
	clear: both;
	text-align: left;
	float: left;
	margin-left: 15px;
}

.howto {
	margin-top: 40px;
	border: 2px solid blue;
}

.howto #howtoicon {
	float: left;
	display: inline;
}

.howto h1 {
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}

.howto p {
	clear: both;
	text-align: justify;
	margin-left: 25px;
}